# Database Configuration
DATABASE_URL=postgres://admin:admin123@localhost:5433/challenge_besu?sslmode=disable

# Besu Blockchain Configuration
BESU_RPC_URL=http://localhost:8545
CONTRACT_ADDRESS=0x42699a7612a82f1d9c36148af9c77354759b210b
PRIVATE_KEY=0x8f2a55949038a9610f50fb23b5883af3b4ecb3c3bb792cbcefbd1542c692be63

# gRPC Server Configuration
GRPC_PORT=50051
