# Database Configuration
DATABASE_URL=postgres://admin:admin123@localhost:5433/challenge_besu?sslmode=disable

# Besu Node Configuration
BESU_RPC_URL=http://localhost:8545

# gRPC Server Configuration
GRPC_PORT=50051
